.sidenav {
  margin-top: 40px;
  height: 100%;
  width: 14vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eaf0f3;
  overflow-x: hidden;
  //padding-top: 20px;
}
.sidenav .sidenav_div:first-child {
  margin-top: 100px;
}
.sidenav .sidenav_div {
  padding: 6px 8px 6px 16px;
  margin: 0 5px 12px 5px;
  border: 5px solid #e6ecf0;

  border-radius: 10px;
}

.sidenav .sidenav_div:hover {
  color: #d5d7d8;
  cursor: pointer;
}
.active {
  background-color: rgb(141, 141, 141);
  color: white;
}
.tl {
  width: 60%;
  margin: auto;
  border: 1px solid #e6ecf0;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px rgb(238, 238, 238);
}
#modalPic {
  width: 170px;
  height: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav .sidenav_div {
    font-size: 18px;
  }
}
