#dashboard {
  // padding-top: 30px;
  padding-left: 14vw;
  background-color: #eaf0f3;
}
.navbar_fixed {
  width: 85vw;
  position: fixed;
}
.navbar {
  border-bottom: 5px solid #e6ecf0;

  background-color: #eaf0f3;
  display: flex;
  justify-content: space-between;
}
#navbar_inner_flex {
  background-color: #eaf0f3;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar_inner_flex div {
  margin-right: 10px;
  font-weight: 700;
  background-color: #eaf0f3;
}
#blankDiv {
  background-color: #eaf0f3;
  width: 15%;
}
.brand_name {
  font-weight: 900;
  padding-top: 14px;
  background-color: #eaf0f3;
  font-size: 1.5rem;
}
#profile_pic_div {
  background-color: #eaf0f3;
  width: max-content;
  height: max-content;
}

#profile_pic {
  margin-top: 4px;
  border-radius: 50%;
  border: 1px solid #5b778a;
  display: inline-block;
}
.queueEmpty {
  padding: 60px;
  border: 1px solid #e6ecf0;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 5px 1px rgb(238, 238, 238);
  color: rgba(17, 17, 63, 0.644);
  font-size: 1.28rem;
  font-weight: 400;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: auto;
  margin-top: 20px;
}
.queueEmpty img {
  margin-bottom: 14px;
  width: 20%;
  height: auto;
  background-color: white;
}
.queueEmpty div {
  background-color: white;
  text-align: center;
}
.body {
  padding-top: 130px;
  display: flex;
  border-left: 5px solid #e6ecf0;
  justify-content: center;
  min-height: 100vh;
}
.main {
  width: 90%;
}
@media only screen and (max-width: 600px) {
  #dashboard {
    padding-left: 0;
  }
  .body {
    padding-top: 280px;
    border-left: none;
  }
  .navbar_fixed {
    width: 92%;
    margin-bottom: 0 !important;
    margin-left: 50px;
  }
  #profile_pic {
    width: 40px;
  }

  #navbar_inner_flex div {
    width: 60px;
    font-size: 1rem;
    margin-right: 12px;
  }
}
