#newMes {
  font-family: "Quattrocento Sans", sans-serif;
  color: rgba(17, 17, 63, 0.644);
  font-size: 1.2rem;
  font-weight: 600;
  background-color: white;
  height: 80px;
  border-color: rgba(17, 17, 63, 0.644);
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  padding-top: 20px;
}
.postNowSubmit {
  outline-style: none;
  border-color: rgba(30, 26, 66, 0.582);
  padding: 2px 12px;
  font-weight: 800;
  border-radius: 5px;
  font-size: 15px;
  transition: box-shadow 0.3s, background-color 0.3s linear;
  margin-right: 10px;
}
.postNowSubmit:hover {
  border-color: rgba(30, 26, 66, 0.733);
  font-weight: 900;
  background-color: white;
  box-shadow: 0 0 10px 1px rgb(226, 226, 226);
  cursor: pointer;
}
